<div class="loginfom frontform" data-no-turbolink>
  <h3><%= t("general.subcribe_via_linkedin")%></h3>
  <span style="margin-left: 65px;"><%= link_to image_tag("linkedin_login.jpeg", :title => t("general.linkedin")), "/auth/linkedin" %></span>
</div>  