<div class="loginfom frontform" data-no-turbolink>
  <h3><%= t("general.subcribe_via_linkedin")%></h3>
  <span style="margin-left: 65px;"><%= link_to image_tag("linkedin_login.jpeg", :id => 'subscribe_lnk', :title => t("general.linkedin")), "/auth/linkedin" %>
    
      <span id="spinner" style="float: right; margin:10px 25px 0 0px; display: none;">
        <%= image_tag "loading.gif" %>
      </span>        
    
  </span>

</div>  